/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
.post-content .alignleft, .post-content img.alignleft {
	margin-right:1.5em;
	display:inline;
	float:left
}
.post-content .alignright, .post-content img.alignright {
	margin-left:1.5em;
	display:inline;
	float:right
}
.post-content .aligncenter, .post-content img.aligncenter {
	margin-right:auto;
	margin-left:auto;
	display:block;
	clear:both
}
}
@media only screen and (min-width: 768px) {
.wrap {
	max-width:960px
}
.onecol {
	width:4.85%
}
.twocol {
	width:13.45%
}
.threecol {
	width:22.05%
}
.fourcol {
	width:30.75%
}
.fivecol {
	width:39.45%
}
.sixcol {
	width:48%
}
.sevencol {
	width:56.75%
}
.eightcol {
	width:65.4%
}
.ninecol {
	width:74.05%
}
.tencol {
	width:82.7%
}
.elevencol {
	width:91.35%
}
.twelvecol {
	width:100%
}
.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
	float:left;
	position:relative;
	margin-right:3.8%
}
.twelvecol {
	float:left;
	position:relative
}
.last {
	margin-right:0;
	float:right
}
.menu ul {
	background:#eee
}
.menu ul li {
	float:left;
	position:relative
}
.menu ul li a {
	border-bottom:0
}
.menu ul li a:hover, .menu ul li a:focus {
	background-color:#dedede
}
.menu ul li ul.sub-menu, .menu ul li ul.children {
	width:200px;
	border:1px solid #ccc;
	border-top:0;
	position:absolute;
	display:none;
	z-index:8999
}
.menu ul li ul.sub-menu li a, .menu ul li ul.children li a {
	padding-left:10px;
	border-right:0;
	display:block;
	width:180px;
	border-bottom:1px solid #ccc
}
.menu ul li ul.sub-menu li:last-child a, .menu ul li ul.children li:last-child a {
	border-bottom:0
}
.menu ul li:hover ul {
	top:auto;
	display:block
}
.sidebar {
	margin-top:2.2em
}
.widgettitle {
	border-bottom:2px solid #444;
	margin-bottom:.75em
}
.widget {
	padding:0 10px;
	margin:2.2em 0
}
.widget ul li {
	margin-bottom:.75em
}
.widget ul li ul {
	margin-top:.75em;
	padding-left:1em
}
}
@media only screen and (min-width: 1030px) {
.wrap {
	max-width:1140px
}
}
@media print {
* {
	background:transparent!important;
	color:#000!important;
	text-shadow:none!important;
	filter:none!important;
	-ms-filter:none!important
}
a, a:visited {
	color:#444!important;
	text-decoration:underline
}
a:after, a:visited:after {
	content:" (" attr(href) ")"
}
a abbr[title]:after, a:visited abbr[title]:after {
	content:" (" attr(title) ")"
}
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
	content:""
}
pre, blockquote {
	border:1px solid #999;
	page-break-inside:avoid
}
thead {
	display:table-header-group
}
tr, img {
	page-break-inside:avoid
}
img {
	max-width:100%!important
}
@page {
margin:.5cm
}
p, h2, h3 {
	orphans:3;
	widows:3
}
h2, h3 {
	page-break-after:avoid
}
.sidebar, .page-navigation, .wp-prev-next, .respond-form, nav {
	display:none
}
}
